In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
series_obj=Series(np.arange(3), index=['row 1','row 2', 'row 3'])
series_obj

row 1    0
row 2    1
row 3    2
dtype: int64

In [6]:
series_obj['row 2']

1

In [10]:
series_obj[[0,1]]

row 1    0
row 2    1
dtype: int64

In [30]:
np.random.seed(1)
DF_obj=DataFrame(np.random.rand(36).reshape(6,6), 
            index = ['row 1','row 2','row 3','row 4', 'row 5', 'row 6'],
            columns = ['col1','col2','col3','col4','col5','col6'])
DF_obj

           col1      col2      col3      col4      col5      col6
row 1  0.417022  0.720324  0.000114  0.302333  0.146756  0.092339
row 2  0.186260  0.345561  0.396767  0.538817  0.419195  0.685220
row 3  0.204452  0.878117  0.027388  0.670468  0.417305  0.558690
row 4  0.140387  0.198101  0.800745  0.968262  0.313424  0.692323
row 5  0.876389  0.894607  0.085044  0.039055  0.169830  0.878143
row 6  0.098347  0.421108  0.957890  0.533165  0.691877  0.315516